<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Salut</h1>
  <!--<div *ngIf="name != null">-->
  <!--{{ name | firstLetterUpperCase }}-->
  <!--</div>-->
  <div *ngFor="let p of products" >
    {{ p.name }}

  </div>

</ion-content>
